<br>
<div class="container align-center">
    <div class="titulo">
        <h3>Encuentra tu proximo destino</h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Ciudad" id="houseCity" name="houseCity"
                [(ngModel)]="houseCity">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Pais" id="houseCountry" name="houseCountry"
                [(ngModel)]="houseCountry">
        </div>
        <div>
            <button class="btn btn-outline-secondary" type="button" id="buscarhost"
                (click)="searchdis()">Buscar</button>
        </div>
        <!--<div class="col-md-3">
            <label for="fechaInit">Fecha Inicial</label>
            <input type="date" class="form-control" placeholder="Fecha Inicial" id="fechaInit" name="fechaInit"
                [(ngModel)]="fechaInit">
        </div>
        <div class="col-md-3">
            <label for="fechaEnd">Fecha Final</label>
            <input type="date" class="form-control" placeholder="Fecha Final" id="fechaEnd" name="fechaEnd"
                [(ngModel)]="fechaEnd">
        </div>-->

    </div>
 
    <br>
    <div class="card mb-3" style="max-width: 540px;" *ngFor="let house of houses">
        <div class="row no-gutters">
            <div class="col-md-8">
                <img src="{{house.photo}}" alt="..." class="photo">
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">{{house.houseCountry}}</h5>
                    <p class="card-text">{{house.houseCity}}</p>
                    <p class="card-text">{{house.houseAddress}}</p>
                    <input type="text" class="form-control invisible" id="idHouse" name="idHouse"
                        value={{house.idHouse}}>

                    <button type="button" class="btn btn-info btn-fill pull-right"
                        [routerLink]="['/admin/reserve' , house.idHouse]">Gestiona tu reserva</button>


                </div>
            </div>
        </div>
    </div>

</div>