<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar Perfil</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>UserName</label>
                                        <input type="text" class="form-control" disabled id="username" name="username"
                                            [(ngModel)]="user.username">
                                        <input type="number" class="form-control invisible" id="id" name="id"
                                            [(ngModel)]="user.id">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Nombre Completo y Apellidos</label>
                                        <input type="text" class="form-control"
                                            placeholder="Nombre Completo y Apellidos" id="name" name="name"
                                            [(ngModel)]="user.name">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="text" class="form-control" placeholder="Password" id="password"
                                            name="password" [(ngModel)]="user.password">
                                    </div> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Pais</label>
                                        <input type="text" class="form-control" placeholder="Pais" id="userCountry"
                                            name="userCountry" [(ngModel)]="user.userCountry" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <input type="text" class="form-control" placeholder="Ciudad" id="userCity"
                                            name="userCity" [(ngModel)]="user.userCity" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Direccion</label>
                                        <input type="text" class="form-control" placeholder="Direccion" id="address"
                                            name="address" [(ngModel)]="user.address" >
                                   </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-auto form-row align-items-center">
                                        <label for="rol">Acesso</label>
                                        <select class="form-control" id="rol" name="rol" [(ngModel)]="user.rol" >
                                            <option selected>Quiero acceder</option>
                                            <option value="1">Guest Viajero</option>
                                            <option value="2">Host Hospedador</option>
                                            <option value="3">Guest y Host</option>
                                        </select>
                                       
                                    </div>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-info btn-fill pull-right" (click)="update()">Actualizar
                                Perfil</button>

                            
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
