<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Historial de Reservas de tu casa como Host</h4>
                        <p class="category">Recuerda los visitantes que recibiste en tu casa</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <div *ngIf="reserves?.length==0" class="alert alert-info">
                            Aun tu casa no ha sido reservada.
                        </div>
                        <table class="table table-hover table-striped" *ngIf="reserves?.length>0">
                            <thead>
                                <tr>
                                    <th>Id Reserva</th>
                                    <th>Usuario Guest</th>
                                    <th>Fecha Inicial</th>
                                    <th>Fecha Final</th>
                                    <th>Califica a tu Visitante</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let reserve of reserves">
                                    <td>{{reserve.idReserve}}</td>
                                    <td>{{reserve.usernameGuest}}</td>
                                    <td>{{reserve.fechaInit}}</td>
                                    <td>{{reserve.fechaEnd}}</td>
                                    <td>{{reserve.notaGuest}}</td>

                                    <td>
                                        <button type="button" class="btn btn-default btn-fill"
                                            *ngIf="this.reserve.notaGuest==0"
                                            (click)="eliminar(reserve.idReserve)">Cancelar Reserva</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-fill"
                                            *ngIf="this.reserve.notaGuest==0"
                                            [routerLink]="['/rate', reserve.idReserve]">Calificar Visitante</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
